<div id="page-content">
  <div class="container" id="home-container">

  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Food recipes and tips</h1>
    <p class="lead">Make the most delicious dishes with easy-to-follow recipes.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Check out the recipes</a>
  </div> 

</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; La Petit Cuisine</small>
  </div>
</footer>