<body>
  <div id="page-content">
  <div class="container" id="home-container">

  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Food recipes and tips</h1>
    <p class="lead">Make the most delicious dishes with easy-to-follow recipes.</p>
    <hr class="my-4">
    <p>Check out the recipes in our catalog!</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Recipes</a>
  </div> 

</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "La Petit Cuisine", "https://github.com/anesp", class: "text-white" %></small>
  </div>
</footer>

</body>