<h1>This is the homepage for the Alphablog assignment! :)</h1>
<p>Learning about how to do root route setup for Ruby applications</p>

<p>
  
  <%= link_to 'Articles listing page', articles_path %> | 
    <%= link_to 'About page', about_path %>

</p>