<h1><strong>About Cheng-Bi [程璧]</strong></h1>

<p>Peking University graduate Cheng Bi has received a lot of attention since she released her first album in 2012. Her voice was described as fresh as a cup of green tea by her followers, and her poetic lyrics and light melodies have a soothing effect on listeners' minds.</p>